.count {
    font-weight: bolder;
    background-color: #63d9fb;
    border: none;
    border-radius: 5px;
    color: #0a0a0a;
    /*width: 215px;*/
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    height: 50px;
}

.red {
    color: #f60505;
}