.App {
    text-align: center;
    background-color: #282c34;

}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.buttons {
    /*position: absolute;*/
    /*left: 5%;*/
    border: 2px solid #63d8fa;
    border-radius: 5px;
    margin: 10px 5px 5px 5px;
    padding: 5px;
}

.MaxAndStart {
  border: 2px solid #63d8fa;
  border-radius: 5px;
  /*margin: 0px;*/
  height: 50px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.counter {
    border: 2px solid #63d8fa;
    border-radius: 5px;
    margin: 10px;
    padding: 2px;
    position: absolute;
    top: 10px;
    left: 50%;
    height: 150px;
    width: 250px;
}

.conterDiv {
    margin: 5px 0px 0px 5px;
    width: 240px;

}

.settings {
  border: 2px solid #63d8fa;
  border-radius: 5px;
  margin: 10px;
  padding: 0px 2px 5px 2px;

  position: absolute;
  top: 10px;
  left: 30%;
  height: 150px;
  width: 250px;

}






