.App {
    text-align: center;
    background-color: #282c34;
    height: 100vh;
    width: 100vw;

}

.buttons {
    border: 2px solid #63d8fa;
    border-radius: 5px;
    margin: 10px 3px 10px 3px;
    padding: 5px;
    width: 230px;

}

.MaxAndStart {
    border: 2px solid #63d8fa;
    border-radius: 5px;
    /*margin: 0px;*/
    height: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.counter {
    display: inline-block;
    border: 2px solid #63d8fa;
    border-radius: 5px;
    margin: 10px;
    padding: 2px;
    height: 150px;
    width: 250px;
}

.conterDiv {
    margin: 5px 0px 0px 5px;
    width: 240px;
}

.settings {
    display: inline-block;
    border: 2px solid #63d8fa;
    border-radius: 5px;
    margin: 10px;
    padding: 0px 2px 5px 2px;
    height: 150px;
    width: 250px;

}






